# clang-tidy uses the closest .clang-tidy in a parent directory
# to override settings.
#
# Add a dummy check since we can't disable them all without
# clang-tidy complaining. This ensures that generated code
# is not flagged.

Checks: '-*,llvm-twine-local'
