*.o
*.so
*.swp
*.o
*.swo
Makefile
.libs/
.deps/
*~
*.la
*.lo
Makefile.in
*.loT
*.info
configure
aclocal.m4
autom4te.cache/
config.h
config.h.in
config/
config.log
config.status
stamp-h1
libtool

ltt-sessiond/ltt-sessiond
lttng/lttng
